@page "/add-employee/{DepartmentId}"

@inject IEmployeeService _employeeService
@inject NavigationManager navigationManager

<EditForm Model="@employee" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row form-group">
        <div class="col-md-2 offset-md-2">
            <label for="firstName"></label>
        </div>
        <div class="col-md-6">
            <InputText class="form-control" id="firstName" @bind-Value="employee.FirstName" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2 offset-md-2">
            <label for="lastName"></label>
        </div>
        <div class="col-md-6">
            <InputText class="form-control" id="lastName" @bind-Value="employee.LastName" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2 offset-md-2">
            <label for="gender"></label>
        </div>
        <div class="col-md-6">
            <select class="form-control" id="gender" @onchange="OnGenderSelected">
                <option selected hidden disabled> --- 请选择性别 --- </option>
                @foreach (var item in Enum.GetValues(typeof(Gender)).Cast<Gender>())
                {
                    <option value="@item">@item.ToString()</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</EditForm>


@code{

    [Parameter]
    public string DepartmentId { get; set; }

    private Models.Employee employee = new Models.Employee();

    private void OnGenderSelected(ChangeEventArgs e)
    {
        var gender = Enum.Parse(typeof(Gender), (string)e.Value);
        employee.Gender = (Gender)gender;
    }

    private async Task HandleValidSubmit()
    {
        employee.DepartmentId = Convert.ToInt32(DepartmentId);

        await _employeeService.add(employee);

        navigationManager.NavigateTo($"/employee/{DepartmentId}");
    }
}